.trans-st0{fill:#202127;}
.trans-st1{opacity:5.000000e-02;fill:url(#);}
.trans-st2{fill:url(#TRANSSVGID_1_);}
.trans-st3{fill:url(#TRANSSVGID_2_);}
.trans-st4{fill:url(#TRANSSVGID_3_);}
.trans-st5{fill:url(#TRANSSVGID_4_);}
.trans-st6{fill:url(#TRANSSVGID_5_);}
.trans-st7{fill:#FFFFFF;}
.trans-st8{fill:none;stroke:#04A997;stroke-miterlimit:10;}
.trans-st9{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st10{fill:#A3A3A3;}
.trans-st11{fill:#6B6B6B;stroke:#A3A3A3;stroke-miterlimit:10;}
.trans-st12{fill:#BDBDBD;}
.trans-st13{fill:#757575;}
.trans-st14{fill:#04A997;}
.trans-st15{fill:none;stroke:#04A997;}
.trans-st16{display:none;}
.trans-st17{display:inline;}
.trans-st18{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.trans-st19{opacity:0.3;}
.trans-st20{fill:none;stroke:#704FC5;}
.trans-st21{fill:none;stroke:#704FC5;stroke-width:0.5;}
.trans-st22{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st23{opacity:0.5;}
.trans-st24{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.trans-st25{fill:#704FC5;}
.trans-st26{opacity:0.2;}
.trans-st27{fill:url(#TRANSSVGID_6_);}
.trans-st28{fill:url(#TRANSSVGID_7_);}
.trans-st29{fill:url(#TRANSSVGID_8_);}
.trans-st30{fill:url(#TRANSSVGID_9_);}
.trans-st31{fill:url(#TRANSSVGID_10_);}
.trans-st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st33{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st34{enable-background:new    ;}
.trans-st35{fill:#FFFFFF;fill-opacity:0.3;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st36{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st37{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st38{opacity:0.502;fill:#FFFFFF;}
.trans-st39{opacity:0.302;fill:#FFFFFF;}
.trans-st40{opacity:0.6;fill:#FFFFFF;}
.trans-st41{opacity:0.8;fill:#FFFFFF;}
.trans-st42{opacity:0.9;fill:#FFFFFF;}
.trans-st43{opacity:0.7;fill:#FFFFFF;}
.trans-st44{opacity:0.3;fill:#FFFFFF;}
.trans-st45{opacity:0.2;fill:#FFFFFF;}
.trans-st46{opacity:0.4;fill:#FFFFFF;}
.trans-st47{fill:none;stroke:#704FC5;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st48{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.trans-st49{opacity:0.2;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.trans-st50{opacity:0.1;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.trans-st51{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.trans-st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.trans-st53{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.trans-st54{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.trans-st55{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.trans-st56{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.trans-st57{opacity:0.8;}
.trans-st58{opacity:0.1;}
.trans-st59{opacity:0.15;}
.trans-st60{opacity:0.6;fill:#704FC5;}
.trans-st61{opacity:0.6;fill:#4C26AD;}
.trans-st62{opacity:0.8;fill:#684CB5;}
.trans-st63{opacity:0.8;fill:#522FB3;}
.trans-st64{opacity:0.9;fill:#704FC5;}
.trans-st65{opacity:0.7;fill:#4C26AD;}
.trans-st66{opacity:0.7;fill:#704FC5;}
.trans-st67{fill:#583F9C;}
.trans-st68{opacity:0.6;fill:#583F9C;}
.trans-st69{opacity:0.3;fill:#704FC5;}
.trans-st70{opacity:0.3;fill:#522FB3;}
.trans-st71{opacity:0.8;fill:#583F9C;}
.trans-st72{opacity:0.9;fill:#522FB3;}
.trans-st73{opacity:0.7;fill:#522FB3;}
.trans-st74{opacity:0.6;fill:#522FB3;}
.trans-st75{opacity:0.8;fill:#704FC5;}
.trans-st76{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st77{opacity:0.5;fill:#FFFFFF;}
.trans-st78{opacity:0.65;}
.trans-st79{opacity:0.302;fill:#704FC5;}
.trans-st80{opacity:0.702;fill:#5735B0;}
.trans-st81{opacity:0.6;fill:#5735B0;}
.trans-st82{opacity:0.4;fill:#704FC5;}
.trans-st83{opacity:0.702;fill:#704FC5;}
.trans-st84{fill:#6C29BD;}
.trans-st85{opacity:0.702;fill:#845DE8;}
.trans-st86{fill:#5735B0;}
.trans-st87{opacity:0.8;fill:#4C26AD;}
.trans-st88{opacity:0.8;fill:#6C29BD;}
.trans-st89{fill:#4C26AD;}
.trans-st90{fill:#845DE8;}
.trans-st91{opacity:0.702;fill:#6C29BD;}
.trans-st92{opacity:0.8;fill:#5735B0;}
.trans-st93{opacity:0.702;fill:#4C26AD;}
.trans-st94{opacity:0.6;}
.trans-st95{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.trans-st96{fill:#DFE84A;}
.trans-st97{display:inline;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st98{display:inline;fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st99{display:inline;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.trans-st100{fill:none;stroke:#FFFFFF;stroke-width:0.9724;stroke-miterlimit:10;}
.trans-st101{fill:none;stroke:#000000;stroke-width:0.9713;stroke-miterlimit:10;}
.trans-st102{fill:none;stroke:#000000;stroke-width:0.9034;stroke-linecap:round;stroke-miterlimit:10;}
.trans-st103{opacity:0.7;}
.trans-st104{opacity:0.27;}
.trans-st105{fill:url(#TRANSSVGID_11_);}
.trans-st106{fill:url(#TRANSSVGID_12_);}
.trans-st107{fill:url(#TRANSSVGID_13_);}
.trans-st108{fill:url(#TRANSSVGID_14_);}
.trans-st109{fill:url(#TRANSSVGID_15_);}
.trans-st110{display:inline;fill:none;stroke:#04A997;stroke-miterlimit:10;}
.trans-st111{display:none;stroke:#04A997;stroke-miterlimit:10;}
.trans-st112{display:none;fill:#FFFFFF;}
.trans-st113{fill:#5A9ADB;}
.trans-st114{fill:none;stroke:#5A9ADB;stroke-miterlimit:10;}
.trans-st115{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st116{font-family:'RefrigeratorDeluxe-Light';}
.trans-st117{font-size:17.8286px;}
.trans-st118{font-size:11.5785px;}
.trans-st119{fill:#704FC5;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st120{font-size:15px;}
.trans-st121{font-size:11.6873px;}
.trans-st122{opacity:0.47;}
.trans-st123{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st124{clip-path:url(#TRANSSVGID_17_);}
.trans-st125{clip-path:url(#TRANSSVGID_19_);}
.trans-st126{fill:none;}
.trans-st127{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3,3;}
.trans-st128{clip-path:url(#TRANSSVGID_20_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st129{clip-path:url(#TRANSSVGID_21_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st130{clip-path:url(#TRANSSVGID_23_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st131{clip-path:url(#TRANSSVGID_25_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st132{clip-path:url(#TRANSSVGID_27_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st133{clip-path:url(#TRANSSVGID_28_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.trans-st134{clip-path:url(#TRANSSVGID_32_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st135{clip-path:url(#TRANSSVGID_35_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st136{clip-path:url(#TRANSSVGID_37_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st137{clip-path:url(#TRANSSVGID_39_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st138{clip-path:url(#TRANSSVGID_41_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st139{clip-path:url(#TRANSSVGID_43_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st140{clip-path:url(#TRANSSVGID_45_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st141{clip-path:url(#TRANSSVGID_48_);}
.trans-st142{clip-path:url(#TRANSSVGID_49_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st143{clip-path:url(#TRANSSVGID_52_);}
.trans-st144{clip-path:url(#TRANSSVGID_53_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st145{clip-path:url(#TRANSSVGID_55_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st146{clip-path:url(#TRANSSVGID_57_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st147{clip-path:url(#TRANSSVGID_59_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st148{clip-path:url(#TRANSSVGID_62_);}
.trans-st149{clip-path:url(#TRANSSVGID_63_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st150{clip-path:url(#TRANSSVGID_66_);}
.trans-st151{clip-path:url(#TRANSSVGID_67_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st152{clip-path:url(#TRANSSVGID_69_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st153{clip-path:url(#TRANSSVGID_71_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st154{clip-path:url(#TRANSSVGID_73_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st155{clip-path:url(#TRANSSVGID_76_);}
.trans-st156{clip-path:url(#TRANSSVGID_77_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st157{clip-path:url(#TRANSSVGID_80_);}
.trans-st158{clip-path:url(#TRANSSVGID_81_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st159{clip-path:url(#TRANSSVGID_83_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st160{clip-path:url(#TRANSSVGID_85_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st161{clip-path:url(#TRANSSVGID_87_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st162{clip-path:url(#TRANSSVGID_90_);}
.trans-st163{clip-path:url(#TRANSSVGID_91_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st164{clip-path:url(#TRANSSVGID_94_);}
.trans-st165{clip-path:url(#TRANSSVGID_95_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st166{clip-path:url(#TRANSSVGID_97_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st167{clip-path:url(#TRANSSVGID_99_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st168{clip-path:url(#TRANSSVGID_101_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st169{clip-path:url(#TRANSSVGID_104_);}
.trans-st170{clip-path:url(#TRANSSVGID_105_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st171{clip-path:url(#TRANSSVGID_108_);}
.trans-st172{clip-path:url(#TRANSSVGID_109_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st173{clip-path:url(#TRANSSVGID_111_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st174{clip-path:url(#TRANSSVGID_113_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st175{clip-path:url(#TRANSSVGID_115_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st176{clip-path:url(#TRANSSVGID_118_);}
.trans-st177{clip-path:url(#TRANSSVGID_119_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st178{clip-path:url(#TRANSSVGID_122_);}
.trans-st179{clip-path:url(#TRANSSVGID_123_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st180{clip-path:url(#TRANSSVGID_125_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st181{clip-path:url(#TRANSSVGID_127_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st182{clip-path:url(#TRANSSVGID_129_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st183{clip-path:url(#TRANSSVGID_132_);}
.trans-st184{clip-path:url(#TRANSSVGID_133_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st185{clip-path:url(#TRANSSVGID_136_);}
.trans-st186{clip-path:url(#TRANSSVGID_137_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st187{clip-path:url(#TRANSSVGID_139_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st188{clip-path:url(#TRANSSVGID_141_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st189{clip-path:url(#TRANSSVGID_143_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st190{clip-path:url(#TRANSSVGID_146_);}
.trans-st191{clip-path:url(#TRANSSVGID_147_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st192{clip-path:url(#TRANSSVGID_150_);}
.trans-st193{clip-path:url(#TRANSSVGID_151_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st194{clip-path:url(#TRANSSVGID_153_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st195{clip-path:url(#TRANSSVGID_155_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st196{clip-path:url(#TRANSSVGID_157_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st197{clip-path:url(#TRANSSVGID_160_);}
.trans-st198{clip-path:url(#TRANSSVGID_161_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st199{clip-path:url(#TRANSSVGID_164_);}
.trans-st200{clip-path:url(#TRANSSVGID_165_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st201{clip-path:url(#TRANSSVGID_167_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st202{clip-path:url(#TRANSSVGID_169_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st203{clip-path:url(#TRANSSVGID_171_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st204{clip-path:url(#TRANSSVGID_174_);}
.trans-st205{clip-path:url(#TRANSSVGID_175_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st206{clip-path:url(#TRANSSVGID_178_);}
.trans-st207{clip-path:url(#TRANSSVGID_179_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st208{clip-path:url(#TRANSSVGID_181_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st209{clip-path:url(#TRANSSVGID_183_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st210{clip-path:url(#TRANSSVGID_185_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st211{clip-path:url(#TRANSSVGID_188_);}
.trans-st212{clip-path:url(#TRANSSVGID_189_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st213{clip-path:url(#TRANSSVGID_192_);}
.trans-st214{clip-path:url(#TRANSSVGID_193_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st215{clip-path:url(#TRANSSVGID_195_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st216{clip-path:url(#TRANSSVGID_197_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st217{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,3.0124;}
.trans-st218{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,3;}
.trans-st219{fill:none;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.trans-st220{fill:#093632;}
.trans-st221{opacity:0.35;}
.trans-st222{fill:url(#TRANSSVGID_198_);}
.trans-st223{fill:url(#TRANSSVGID_199_);}
.trans-st224{fill:url(#TRANSSVGID_200_);}
.trans-st225{fill:url(#TRANSSVGID_201_);}
.trans-st226{opacity:0.4;}
.trans-st227{fill:#6B6B6B;stroke:#04A997;stroke-miterlimit:10;}
.trans-st228{fill:#DB5D46;}
.trans-st229{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st230{fill:url(#TRANSSVGID_202_);}
.trans-st231{fill:url(#TRANSSVGID_205_);}
.trans-st232{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.trans-st233{fill:url(#TRANSSVGID_206_);}
.trans-st234{fill:url(#TRANSSVGID_207_);}
.trans-st235{opacity:0.36;fill:url(#TRANSSVGID_208_);}
.trans-st236{opacity:0.36;}
.trans-st237{fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.trans-st238{opacity:0.5;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.trans-st239{opacity:0.2;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.trans-st240{fill:none;stroke:#06EDD4;stroke-miterlimit:10;}
.trans-st241{opacity:0.2;fill:none;stroke:#FF9500;stroke-miterlimit:10;}
.trans-st242{opacity:0.5;fill:#DBD446;}
.trans-st243{fill:#DBD446;}
.trans-st244{opacity:0.8;fill:#DBD446;}
.trans-st245{opacity:0.3;fill:#DBD446;}
.trans-st246{fill:none;stroke:#05E3CB;stroke-miterlimit:10;}
.trans-st247{opacity:0.8;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st248{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st249{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.trans-st250{fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.trans-st251{opacity:0.3;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.trans-st252{opacity:0.5;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.trans-st253{fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.trans-st254{opacity:0.3;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.trans-st255{opacity:0.5;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.trans-st256{fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.trans-st257{opacity:0.3;fill:none;stroke:#FF5B3E;stroke-miterlimit:10;}
.trans-st258{opacity:0.3;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.trans-st259{opacity:0.5;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.trans-st260{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st261{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.trans-st262{opacity:0.5;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.trans-st263{opacity:0.2;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.trans-st264{opacity:0.1;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.trans-st265{opacity:0.3;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.trans-st266{fill:none;stroke:#B8A12A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.trans-st267{fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.trans-st268{opacity:0.5;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.trans-st269{opacity:0.2;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.trans-st270{opacity:0.1;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.trans-st271{opacity:0.3;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.trans-st272{opacity:0.23;}
.trans-st273{display:none;fill:url(#TRANSSVGID_209_);}
.trans-st274{fill:url(#TRANSSVGID_212_);}
.trans-st275{display:none;opacity:0.1;}
.trans-st276{display:inline;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.trans-st277{fill:url(#TRANSSVGID_213_);}
.trans-st278{fill:url(#TRANSSVGID_214_);}
.trans-st279{display:none;opacity:0.36;fill:url(#TRANSSVGID_215_);}
.trans-st280{display:none;opacity:0.36;}
.trans-st281{display:none;opacity:0.2;}
.trans-st282{display:inline;fill:#FFFFFF;}
.trans-st283{opacity:0;fill:#07D5C2;}
.trans-st284{fill:url(#TRANSSVGID_218_);}
.trans-st285{fill:url(#TRANSSVGID_219_);}
.trans-st286{fill:url(#TRANSSVGID_220_);}
.trans-st287{fill:url(#TRANSSVGID_221_);}
.trans-st288{fill:url(#TRANSSVGID_222_);}
.trans-st289{fill:url(#TRANSSVGID_223_);}
.trans-st290{fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st291{opacity:0.9;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st292{opacity:0.8;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st293{opacity:0.6;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st294{opacity:0.4;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st295{opacity:0.2;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.trans-st296{fill:none;stroke:#FFFFFF;}
.trans-st297{fill:#676767;}
.trans-st298{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}

.vote-st0{fill:#202127;}
.vote-st1{opacity:5.000000e-02;fill:url(#);}
.vote-st2{fill:url(#VOTESVGID_1_);}
.vote-st3{fill:url(#VOTESVGID_2_);}
.vote-st4{fill:url(#VOTESVGID_3_);}
.vote-st5{fill:url(#VOTESVGID_4_);}
.vote-st6{fill:url(#VOTESVGID_5_);}
.vote-st7{fill:#FFFFFF;}
.vote-st8{fill:none;stroke:#04A997;stroke-miterlimit:10;}
.vote-st9{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st10{fill:#A3A3A3;}
.vote-st11{fill:#6B6B6B;stroke:#A3A3A3;stroke-miterlimit:10;}
.vote-st12{fill:#BDBDBD;}
.vote-st13{fill:#757575;}
.vote-st14{fill:#04A997;}
.vote-st15{fill:none;stroke:#04A997;}
.vote-st16{display:none;}
.vote-st17{display:inline;}
.vote-st18{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.vote-st19{opacity:0.3;}
.vote-st20{fill:none;stroke:#704FC5;}
.vote-st21{fill:none;stroke:#704FC5;stroke-width:0.5;}
.vote-st22{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st23{opacity:0.5;}
.vote-st24{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.vote-st25{fill:#704FC5;}
.vote-st26{opacity:0.2;}
.vote-st27{fill:url(#VOTESVGID_6_);}
.vote-st28{fill:url(#VOTESVGID_7_);}
.vote-st29{fill:url(#VOTESVGID_8_);}
.vote-st30{fill:url(#VOTESVGID_9_);}
.vote-st31{fill:url(#VOTESVGID_10_);}
.vote-st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st33{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st34{enable-background:new    ;}
.vote-st35{fill:#FFFFFF;fill-opacity:0.3;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st36{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st37{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st38{opacity:0.502;fill:#FFFFFF;}
.vote-st39{opacity:0.302;fill:#FFFFFF;}
.vote-st40{opacity:0.6;fill:#FFFFFF;}
.vote-st41{opacity:0.8;fill:#FFFFFF;}
.vote-st42{opacity:0.9;fill:#FFFFFF;}
.vote-st43{opacity:0.7;fill:#FFFFFF;}
.vote-st44{opacity:0.3;fill:#FFFFFF;}
.vote-st45{opacity:0.2;fill:#FFFFFF;}
.vote-st46{opacity:0.4;fill:#FFFFFF;}
.vote-st47{fill:none;stroke:#704FC5;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st48{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.vote-st49{opacity:0.2;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.vote-st50{opacity:0.1;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.vote-st51{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.vote-st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.vote-st53{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.vote-st54{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.vote-st55{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.vote-st56{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.vote-st57{opacity:0.8;}
.vote-st58{opacity:0.1;}
.vote-st59{opacity:0.15;}
.vote-st60{opacity:0.6;fill:#704FC5;}
.vote-st61{opacity:0.6;fill:#4C26AD;}
.vote-st62{opacity:0.8;fill:#684CB5;}
.vote-st63{opacity:0.8;fill:#522FB3;}
.vote-st64{opacity:0.9;fill:#704FC5;}
.vote-st65{opacity:0.7;fill:#4C26AD;}
.vote-st66{opacity:0.7;fill:#704FC5;}
.vote-st67{fill:#583F9C;}
.vote-st68{opacity:0.6;fill:#583F9C;}
.vote-st69{opacity:0.3;fill:#704FC5;}
.vote-st70{opacity:0.3;fill:#522FB3;}
.vote-st71{opacity:0.8;fill:#583F9C;}
.vote-st72{opacity:0.9;fill:#522FB3;}
.vote-st73{opacity:0.7;fill:#522FB3;}
.vote-st74{opacity:0.6;fill:#522FB3;}
.vote-st75{opacity:0.8;fill:#704FC5;}
.vote-st76{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st77{opacity:0.5;fill:#FFFFFF;}
.vote-st78{opacity:0.65;}
.vote-st79{opacity:0.302;fill:#704FC5;}
.vote-st80{opacity:0.702;fill:#5735B0;}
.vote-st81{opacity:0.6;fill:#5735B0;}
.vote-st82{opacity:0.4;fill:#704FC5;}
.vote-st83{opacity:0.702;fill:#704FC5;}
.vote-st84{fill:#6C29BD;}
.vote-st85{opacity:0.702;fill:#845DE8;}
.vote-st86{fill:#5735B0;}
.vote-st87{opacity:0.8;fill:#4C26AD;}
.vote-st88{opacity:0.8;fill:#6C29BD;}
.vote-st89{fill:#4C26AD;}
.vote-st90{fill:#845DE8;}
.vote-st91{opacity:0.702;fill:#6C29BD;}
.vote-st92{opacity:0.8;fill:#5735B0;}
.vote-st93{opacity:0.702;fill:#4C26AD;}
.vote-st94{opacity:0.6;}
.vote-st95{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.vote-st96{fill:#DFE84A;}
.vote-st97{display:inline;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st98{display:inline;fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st99{display:inline;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.vote-st100{fill:none;stroke:#FFFFFF;stroke-width:0.9724;stroke-miterlimit:10;}
.vote-st101{fill:none;stroke:#000000;stroke-width:0.9713;stroke-miterlimit:10;}
.vote-st102{fill:none;stroke:#000000;stroke-width:0.9034;stroke-linecap:round;stroke-miterlimit:10;}
.vote-st103{opacity:0.7;}
.vote-st104{opacity:0.27;}
.vote-st105{fill:url(#VOTESVGID_11_);}
.vote-st106{fill:url(#VOTESVGID_12_);}
.vote-st107{fill:url(#VOTESVGID_13_);}
.vote-st108{fill:url(#VOTESVGID_14_);}
.vote-st109{fill:url(#VOTESVGID_15_);}
.vote-st110{display:inline;fill:none;stroke:#04A997;stroke-miterlimit:10;}
.vote-st111{display:none;stroke:#04A997;stroke-miterlimit:10;}
.vote-st112{display:none;fill:#FFFFFF;}
.vote-st113{fill:#5A9ADB;}
.vote-st114{fill:none;stroke:#5A9ADB;stroke-miterlimit:10;}
.vote-st115{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st116{opacity:0.47;}
.vote-st117{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st118{clip-path:url(#VOTESVGID_17_);}
.vote-st119{clip-path:url(#VOTESVGID_19_);}
.vote-st120{fill:none;}
.vote-st121{fill:#704FC5;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st122{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3,3;}
.vote-st123{clip-path:url(#VOTESVGID_20_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st124{clip-path:url(#VOTESVGID_21_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st125{clip-path:url(#VOTESVGID_23_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st126{clip-path:url(#VOTESVGID_25_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st127{clip-path:url(#VOTESVGID_27_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st128{clip-path:url(#VOTESVGID_28_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.vote-st129{clip-path:url(#VOTESVGID_32_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st130{clip-path:url(#VOTESVGID_35_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st131{clip-path:url(#VOTESVGID_37_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st132{clip-path:url(#VOTESVGID_39_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st133{clip-path:url(#VOTESVGID_41_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st134{clip-path:url(#VOTESVGID_43_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st135{clip-path:url(#VOTESVGID_45_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st136{clip-path:url(#VOTESVGID_48_);}
.vote-st137{clip-path:url(#VOTESVGID_49_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st138{clip-path:url(#VOTESVGID_52_);}
.vote-st139{clip-path:url(#VOTESVGID_53_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st140{clip-path:url(#VOTESVGID_55_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st141{clip-path:url(#VOTESVGID_57_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st142{clip-path:url(#VOTESVGID_59_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st143{clip-path:url(#VOTESVGID_62_);}
.vote-st144{clip-path:url(#VOTESVGID_63_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st145{clip-path:url(#VOTESVGID_66_);}
.vote-st146{clip-path:url(#VOTESVGID_67_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st147{clip-path:url(#VOTESVGID_69_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st148{clip-path:url(#VOTESVGID_71_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st149{clip-path:url(#VOTESVGID_73_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st150{clip-path:url(#VOTESVGID_76_);}
.vote-st151{clip-path:url(#VOTESVGID_77_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st152{clip-path:url(#VOTESVGID_80_);}
.vote-st153{clip-path:url(#VOTESVGID_81_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st154{clip-path:url(#VOTESVGID_83_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st155{clip-path:url(#VOTESVGID_85_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st156{clip-path:url(#VOTESVGID_87_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st157{clip-path:url(#VOTESVGID_90_);}
.vote-st158{clip-path:url(#VOTESVGID_91_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st159{clip-path:url(#VOTESVGID_94_);}
.vote-st160{clip-path:url(#VOTESVGID_95_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st161{clip-path:url(#VOTESVGID_97_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st162{clip-path:url(#VOTESVGID_99_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st163{clip-path:url(#VOTESVGID_101_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st164{clip-path:url(#VOTESVGID_104_);}
.vote-st165{clip-path:url(#VOTESVGID_105_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st166{clip-path:url(#VOTESVGID_108_);}
.vote-st167{clip-path:url(#VOTESVGID_109_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st168{clip-path:url(#VOTESVGID_111_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st169{clip-path:url(#VOTESVGID_113_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st170{clip-path:url(#VOTESVGID_115_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st171{clip-path:url(#VOTESVGID_118_);}
.vote-st172{clip-path:url(#VOTESVGID_119_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st173{clip-path:url(#VOTESVGID_122_);}
.vote-st174{clip-path:url(#VOTESVGID_123_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st175{clip-path:url(#VOTESVGID_125_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st176{clip-path:url(#VOTESVGID_127_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st177{clip-path:url(#VOTESVGID_129_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st178{clip-path:url(#VOTESVGID_132_);}
.vote-st179{clip-path:url(#VOTESVGID_133_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st180{clip-path:url(#VOTESVGID_136_);}
.vote-st181{clip-path:url(#VOTESVGID_137_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st182{clip-path:url(#VOTESVGID_139_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st183{clip-path:url(#VOTESVGID_141_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st184{clip-path:url(#VOTESVGID_143_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st185{clip-path:url(#VOTESVGID_146_);}
.vote-st186{clip-path:url(#VOTESVGID_147_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st187{clip-path:url(#VOTESVGID_150_);}
.vote-st188{clip-path:url(#VOTESVGID_151_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st189{clip-path:url(#VOTESVGID_153_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st190{clip-path:url(#VOTESVGID_155_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st191{clip-path:url(#VOTESVGID_157_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st192{clip-path:url(#VOTESVGID_160_);}
.vote-st193{clip-path:url(#VOTESVGID_161_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st194{clip-path:url(#VOTESVGID_164_);}
.vote-st195{clip-path:url(#VOTESVGID_165_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st196{clip-path:url(#VOTESVGID_167_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st197{clip-path:url(#VOTESVGID_169_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st198{clip-path:url(#VOTESVGID_171_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st199{clip-path:url(#VOTESVGID_174_);}
.vote-st200{clip-path:url(#VOTESVGID_175_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st201{clip-path:url(#VOTESVGID_178_);}
.vote-st202{clip-path:url(#VOTESVGID_179_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st203{clip-path:url(#VOTESVGID_181_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st204{clip-path:url(#VOTESVGID_183_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st205{clip-path:url(#VOTESVGID_185_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st206{clip-path:url(#VOTESVGID_188_);}
.vote-st207{clip-path:url(#VOTESVGID_189_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st208{clip-path:url(#VOTESVGID_192_);}
.vote-st209{clip-path:url(#VOTESVGID_193_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st210{clip-path:url(#VOTESVGID_195_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st211{clip-path:url(#VOTESVGID_197_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st212{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,3.0124;}
.vote-st213{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,3;}
.vote-st214{fill:none;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.vote-st215{fill:#093632;}
.vote-st216{opacity:0.35;}
.vote-st217{fill:url(#VOTESVGID_198_);}
.vote-st218{fill:url(#VOTESVGID_199_);}
.vote-st219{fill:url(#VOTESVGID_200_);}
.vote-st220{fill:url(#VOTESVGID_201_);}
.vote-st221{opacity:0.4;}
.vote-st222{fill:#6B6B6B;stroke:#04A997;stroke-miterlimit:10;}
.vote-st223{fill:#DB5D46;}
.vote-st224{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st225{fill:url(#VOTESVGID_202_);}
.vote-st226{fill:url(#VOTESVGID_205_);}
.vote-st227{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.vote-st228{fill:url(#VOTESVGID_206_);}
.vote-st229{fill:url(#VOTESVGID_207_);}
.vote-st230{opacity:0.36;fill:url(#VOTESVGID_208_);}
.vote-st231{opacity:0.36;}
.vote-st232{fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.vote-st233{opacity:0.5;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.vote-st234{opacity:0.2;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.vote-st235{fill:none;stroke:#06EDD4;stroke-miterlimit:10;}
.vote-st236{opacity:0.2;fill:none;stroke:#FF9500;stroke-miterlimit:10;}
.vote-st237{opacity:0.5;fill:#DBD446;}
.vote-st238{fill:#DBD446;}
.vote-st239{opacity:0.8;fill:#DBD446;}
.vote-st240{opacity:0.3;fill:#DBD446;}
.vote-st241{fill:none;stroke:#05E3CB;stroke-miterlimit:10;}
.vote-st242{opacity:0.8;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st243{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st244{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.vote-st245{fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.vote-st246{opacity:0.3;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.vote-st247{opacity:0.5;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.vote-st248{fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.vote-st249{opacity:0.3;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.vote-st250{opacity:0.5;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.vote-st251{fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.vote-st252{opacity:0.3;fill:none;stroke:#FF5B3E;stroke-miterlimit:10;}
.vote-st253{opacity:0.3;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.vote-st254{opacity:0.5;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.vote-st255{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st256{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.vote-st257{opacity:0.5;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.vote-st258{opacity:0.2;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.vote-st259{opacity:0.1;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.vote-st260{opacity:0.3;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.vote-st261{fill:none;stroke:#B8A12A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.vote-st262{fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.vote-st263{opacity:0.5;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.vote-st264{opacity:0.2;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.vote-st265{opacity:0.1;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.vote-st266{opacity:0.3;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.vote-st267{opacity:0.23;}
.vote-st268{display:none;fill:url(#VOTESVGID_209_);}
.vote-st269{fill:url(#VOTESVGID_212_);}
.vote-st270{display:none;opacity:0.1;}
.vote-st271{display:inline;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.vote-st272{fill:url(#VOTESVGID_213_);}
.vote-st273{fill:url(#VOTESVGID_214_);}
.vote-st274{display:none;opacity:0.36;fill:url(#VOTESVGID_215_);}
.vote-st275{display:none;opacity:0.36;}
.vote-st276{display:none;opacity:0.2;}
.vote-st277{display:inline;fill:#FFFFFF;}
.vote-st278{opacity:0;fill:#07D5C2;}
.vote-st279{fill:url(#VOTESVGID_218_);}
.vote-st280{fill:url(#VOTESVGID_219_);}
.vote-st281{fill:url(#VOTESVGID_220_);}
.vote-st282{fill:url(#VOTESVGID_221_);}
.vote-st283{fill:url(#VOTESVGID_222_);}
.vote-st284{fill:url(#VOTESVGID_223_);}
.vote-st285{fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st286{opacity:0.9;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st287{opacity:0.8;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st288{opacity:0.6;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st289{opacity:0.4;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st290{opacity:0.2;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.vote-st291{fill:none;stroke:#FFFFFF;}
.vote-st292{fill:#676767;}
.vote-st293{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}


.masked-st0{fill:#202127;}
.masked-st1{opacity:5.000000e-02;fill:url(#);}
.masked-st2{fill:url(#MASKEDSVGID_1_);}
.masked-st3{fill:url(#MASKEDSVGID_2_);}
.masked-st4{fill:url(#MASKEDSVGID_3_);}
.masked-st5{fill:url(#MASKEDSVGID_4_);}
.masked-st6{fill:url(#MASKEDSVGID_5_);}
.masked-st7{fill:#FFFFFF;}
.masked-st8{fill:none;stroke:#04A997;stroke-miterlimit:10;}
.masked-st9{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st10{fill:#A3A3A3;}
.masked-st11{fill:#6B6B6B;stroke:#A3A3A3;stroke-miterlimit:10;}
.masked-st12{fill:#BDBDBD;}
.masked-st13{fill:#757575;}
.masked-st14{fill:#04A997;}
.masked-st15{fill:none;stroke:#04A997;}
.masked-st16{display:none;}
.masked-st17{display:inline;}
.masked-st18{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.masked-st19{opacity:0.3;}
.masked-st20{fill:none;stroke:#704FC5;}
.masked-st21{fill:none;stroke:#704FC5;stroke-width:0.5;}
.masked-st22{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.masked-st23{opacity:0.5;}
.masked-st24{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.masked-st25{fill:#704FC5;}
.masked-st26{opacity:0.2;}
.masked-st27{fill:url(#MASKEDSVGID_6_);}
.masked-st28{fill:url(#MASKEDSVGID_7_);}
.masked-st29{fill:url(#MASKEDSVGID_8_);}
.masked-st30{fill:url(#MASKEDSVGID_9_);}
.masked-st31{fill:url(#MASKEDSVGID_10_);}
.masked-st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st33{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st34{enable-background:new    ;}
.masked-st35{fill:#FFFFFF;fill-opacity:0.3;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st36{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st37{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st38{opacity:0.502;fill:#FFFFFF;}
.masked-st39{opacity:0.302;fill:#FFFFFF;}
.masked-st40{opacity:0.6;fill:#FFFFFF;}
.masked-st41{opacity:0.8;fill:#FFFFFF;}
.masked-st42{opacity:0.9;fill:#FFFFFF;}
.masked-st43{opacity:0.7;fill:#FFFFFF;}
.masked-st44{opacity:0.3;fill:#FFFFFF;}
.masked-st45{opacity:0.2;fill:#FFFFFF;}
.masked-st46{opacity:0.4;fill:#FFFFFF;}
.masked-st47{fill:none;stroke:#704FC5;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st48{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.masked-st49{opacity:0.2;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.masked-st50{opacity:0.1;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.masked-st51{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.masked-st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.masked-st53{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.masked-st54{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.masked-st55{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.masked-st56{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.masked-st57{opacity:0.8;}
.masked-st58{opacity:0.1;}
.masked-st59{opacity:0.15;}
.masked-st60{opacity:0.6;fill:#704FC5;}
.masked-st61{opacity:0.6;fill:#4C26AD;}
.masked-st62{opacity:0.8;fill:#684CB5;}
.masked-st63{opacity:0.8;fill:#522FB3;}
.masked-st64{opacity:0.9;fill:#704FC5;}
.masked-st65{opacity:0.7;fill:#4C26AD;}
.masked-st66{opacity:0.7;fill:#704FC5;}
.masked-st67{fill:#583F9C;}
.masked-st68{opacity:0.6;fill:#583F9C;}
.masked-st69{opacity:0.3;fill:#704FC5;}
.masked-st70{opacity:0.3;fill:#522FB3;}
.masked-st71{opacity:0.8;fill:#583F9C;}
.masked-st72{opacity:0.9;fill:#522FB3;}
.masked-st73{opacity:0.7;fill:#522FB3;}
.masked-st74{opacity:0.6;fill:#522FB3;}
.masked-st75{opacity:0.8;fill:#704FC5;}
.masked-st76{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st77{opacity:0.5;fill:#FFFFFF;}
.masked-st78{opacity:0.65;}
.masked-st79{opacity:0.302;fill:#704FC5;}
.masked-st80{opacity:0.702;fill:#5735B0;}
.masked-st81{opacity:0.6;fill:#5735B0;}
.masked-st82{opacity:0.4;fill:#704FC5;}
.masked-st83{opacity:0.702;fill:#704FC5;}
.masked-st84{fill:#6C29BD;}
.masked-st85{opacity:0.702;fill:#845DE8;}
.masked-st86{fill:#5735B0;}
.masked-st87{opacity:0.8;fill:#4C26AD;}
.masked-st88{opacity:0.8;fill:#6C29BD;}
.masked-st89{fill:#4C26AD;}
.masked-st90{fill:#845DE8;}
.masked-st91{opacity:0.702;fill:#6C29BD;}
.masked-st92{opacity:0.8;fill:#5735B0;}
.masked-st93{opacity:0.702;fill:#4C26AD;}
.masked-st94{opacity:0.6;}
.masked-st95{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.masked-st96{fill:#DFE84A;}
.masked-st97{display:inline;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st98{display:inline;fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st99{display:inline;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.masked-st100{fill:none;stroke:#FFFFFF;stroke-width:0.9724;stroke-miterlimit:10;}
.masked-st101{fill:none;stroke:#000000;stroke-width:0.9713;stroke-miterlimit:10;}
.masked-st102{fill:none;stroke:#000000;stroke-width:0.9034;stroke-linecap:round;stroke-miterlimit:10;}
.masked-st103{opacity:0.27;}
.masked-st104{fill:url(#MASKEDSVGID_11_);}
.masked-st105{fill:url(#MASKEDSVGID_12_);}
.masked-st106{fill:url(#MASKEDSVGID_13_);}
.masked-st107{fill:url(#MASKEDSVGID_14_);}
.masked-st108{fill:url(#MASKEDSVGID_15_);}
.masked-st109{display:inline;fill:none;stroke:#04A997;stroke-miterlimit:10;}
.masked-st110{display:none;stroke:#04A997;stroke-miterlimit:10;}
.masked-st111{display:none;fill:#FFFFFF;}
.masked-st112{fill:#5A9ADB;}
.masked-st113{fill:none;stroke:#5A9ADB;stroke-miterlimit:10;}
.masked-st114{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.masked-st115{opacity:0.47;}
.masked-st116{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st117{clip-path:url(#MASKEDSVGID_17_);}
.masked-st118{clip-path:url(#MASKEDSVGID_19_);}
.masked-st119{clip-path:url(#MASKEDSVGID_21_);}
.masked-st120{fill:none;}
.masked-st121{fill:#704FC5;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.masked-st122{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3,3;}
.masked-st123{fill:#093632;}
.masked-st124{opacity:0.35;}
.masked-st125{fill:url(#MASKEDSVGID_22_);}
.masked-st126{fill:url(#MASKEDSVGID_23_);}
.masked-st127{fill:url(#MASKEDSVGID_24_);}
.masked-st128{fill:url(#MASKEDSVGID_25_);}
.masked-st129{opacity:0.4;}
.masked-st130{fill:#6B6B6B;stroke:#04A997;stroke-miterlimit:10;}
.masked-st131{fill:#DB5D46;}
.masked-st132{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st133{opacity:0.7;}
.masked-st134{fill:url(#MASKEDSVGID_26_);}
.masked-st135{fill:url(#MASKEDSVGID_29_);}
.masked-st136{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.masked-st137{fill:url(#MASKEDSVGID_30_);}
.masked-st138{fill:url(#MASKEDSVGID_31_);}
.masked-st139{opacity:0.36;fill:url(#MASKEDSVGID_32_);}
.masked-st140{opacity:0.36;}
.masked-st141{fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.masked-st142{opacity:0.5;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.masked-st143{opacity:0.2;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.masked-st144{fill:none;stroke:#06EDD4;stroke-miterlimit:10;}
.masked-st145{opacity:0.2;fill:none;stroke:#FF9500;stroke-miterlimit:10;}
.masked-st146{opacity:0.5;fill:#DBD446;}
.masked-st147{fill:#DBD446;}
.masked-st148{opacity:0.8;fill:#DBD446;}
.masked-st149{opacity:0.3;fill:#DBD446;}
.masked-st150{fill:none;stroke:#05E3CB;stroke-miterlimit:10;}
.masked-st151{opacity:0.8;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st152{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st153{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.masked-st154{fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.masked-st155{opacity:0.3;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.masked-st156{opacity:0.5;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.masked-st157{fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.masked-st158{opacity:0.3;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.masked-st159{opacity:0.5;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.masked-st160{fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.masked-st161{opacity:0.3;fill:none;stroke:#FF5B3E;stroke-miterlimit:10;}
.masked-st162{opacity:0.3;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.masked-st163{opacity:0.5;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.masked-st164{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st165{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.masked-st166{opacity:0.5;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.masked-st167{opacity:0.2;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.masked-st168{opacity:0.1;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.masked-st169{opacity:0.3;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.masked-st170{fill:none;stroke:#B8A12A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.masked-st171{fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.masked-st172{opacity:0.5;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.masked-st173{opacity:0.2;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.masked-st174{opacity:0.1;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.masked-st175{opacity:0.3;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.masked-st176{opacity:0.23;}
.masked-st177{display:none;fill:url(#MASKEDSVGID_33_);}
.masked-st178{fill:url(#MASKEDSVGID_36_);}
.masked-st179{display:none;opacity:0.1;}
.masked-st180{display:inline;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.masked-st181{fill:url(#MASKEDSVGID_37_);}
.masked-st182{fill:url(#MASKEDSVGID_38_);}
.masked-st183{display:none;opacity:0.36;fill:url(#MASKEDSVGID_39_);}
.masked-st184{display:none;opacity:0.36;}
.masked-st185{display:none;opacity:0.2;}
.masked-st186{display:inline;fill:#FFFFFF;}
.masked-st187{opacity:0;fill:#07D5C2;}
.masked-st188{fill:url(#MASKEDSVGID_42_);}
.masked-st189{fill:url(#MASKEDSVGID_43_);}
.masked-st190{fill:url(#MASKEDSVGID_44_);}
.masked-st191{fill:url(#MASKEDSVGID_45_);}
.masked-st192{fill:url(#MASKEDSVGID_46_);}
.masked-st193{fill:url(#MASKEDSVGID_47_);}
.masked-st194{fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st195{opacity:0.9;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st196{opacity:0.8;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st197{opacity:0.6;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st198{opacity:0.4;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st199{opacity:0.2;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.masked-st200{fill:none;stroke:#FFFFFF;}
.masked-st201{fill:#676767;}


.a1-st0{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.a1-st1{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.a1-st2{opacity:0.5;}
.a1-st3{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.a1-st4{fill:#704FC5;}
.a1-st5{opacity:0.3;}
.a1-st6{fill:none;stroke:#704FC5;}
.a1-st7{fill:none;stroke:#704FC5;stroke-width:0.5;}


.a1s-st0{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.a1s-st1{opacity:0.3;}
.a1s-st2{fill:none;stroke:#704FC5;}
.a1s-st3{fill:none;stroke:#704FC5;stroke-width:0.5;}
.a1s-st4{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.a1s-st5{fill:#FFFFFF;}
.a1s-st6{display:none;}
.a1s-st7{fill:none;stroke:#FFFFFF;stroke-width:0.1752;}
.a1s-st8{fill:none;stroke:#704FC5;stroke-width:0.3503;}
.a1s-st9{fill:none;stroke:#704FC5;stroke-width:0.1752;}
.a1s-st10{fill:none;stroke:#FFFFFF;stroke-width:0.1752;stroke-miterlimit:10;}

.any-st0{fill:#202127;}
.any-st1{opacity:5.000000e-02;fill:url(#);}
.any-st2{fill:url(#ANYSVGID_1_);}
.any-st3{fill:url(#ANYSVGID_2_);}
.any-st4{fill:url(#ANYSVGID_3_);}
.any-st5{fill:url(#ANYSVGID_4_);}
.any-st6{fill:url(#ANYSVGID_5_);}
.any-st7{fill:#FFFFFF;}
.any-st8{fill:none;stroke:#04A997;stroke-miterlimit:10;}
.any-st9{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st10{fill:#A3A3A3;}
.any-st11{fill:#6B6B6B;stroke:#A3A3A3;stroke-miterlimit:10;}
.any-st12{fill:#BDBDBD;}
.any-st13{fill:#757575;}
.any-st14{fill:#04A997;}
.any-st15{fill:none;stroke:#04A997;}
.any-st16{display:none;}
.any-st17{display:inline;}
.any-st18{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.any-st19{opacity:0.3;}
.any-st20{fill:none;stroke:#704FC5;}
.any-st21{fill:none;stroke:#704FC5;stroke-width:0.5;}
.any-st22{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.any-st23{opacity:0.5;}
.any-st24{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.any-st25{fill:#704FC5;}
.any-st26{opacity:0.2;}
.any-st27{fill:url(#ANYSVGID_6_);}
.any-st28{fill:url(#ANYSVGID_7_);}
.any-st29{fill:url(#ANYSVGID_8_);}
.any-st30{fill:url(#ANYSVGID_9_);}
.any-st31{fill:url(#ANYSVGID_10_);}
.any-st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st33{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st34{enable-background:new    ;}
.any-st35{fill:#FFFFFF;fill-opacity:0.3;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st36{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st37{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st38{opacity:0.502;fill:#FFFFFF;}
.any-st39{opacity:0.302;fill:#FFFFFF;}
.any-st40{opacity:0.6;fill:#FFFFFF;}
.any-st41{opacity:0.8;fill:#FFFFFF;}
.any-st42{opacity:0.9;fill:#FFFFFF;}
.any-st43{opacity:0.7;fill:#FFFFFF;}
.any-st44{opacity:0.3;fill:#FFFFFF;}
.any-st45{opacity:0.2;fill:#FFFFFF;}
.any-st46{opacity:0.4;fill:#FFFFFF;}
.any-st47{fill:none;stroke:#704FC5;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st48{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.any-st49{opacity:0.2;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.any-st50{opacity:0.1;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.any-st51{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.any-st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.any-st53{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.any-st54{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.any-st55{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.any-st56{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.any-st57{opacity:0.8;}
.any-st58{opacity:0.1;}
.any-st59{opacity:0.15;}
.any-st60{opacity:0.6;fill:#704FC5;}
.any-st61{opacity:0.6;fill:#4C26AD;}
.any-st62{opacity:0.8;fill:#684CB5;}
.any-st63{opacity:0.8;fill:#522FB3;}
.any-st64{opacity:0.9;fill:#704FC5;}
.any-st65{opacity:0.7;fill:#4C26AD;}
.any-st66{opacity:0.7;fill:#704FC5;}
.any-st67{fill:#583F9C;}
.any-st68{opacity:0.6;fill:#583F9C;}
.any-st69{opacity:0.3;fill:#704FC5;}
.any-st70{opacity:0.3;fill:#522FB3;}
.any-st71{opacity:0.8;fill:#583F9C;}
.any-st72{opacity:0.9;fill:#522FB3;}
.any-st73{opacity:0.7;fill:#522FB3;}
.any-st74{opacity:0.6;fill:#522FB3;}
.any-st75{opacity:0.8;fill:#704FC5;}
.any-st76{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st77{opacity:0.5;fill:#FFFFFF;}
.any-st78{opacity:0.65;}
.any-st79{opacity:0.302;fill:#704FC5;}
.any-st80{opacity:0.702;fill:#5735B0;}
.any-st81{opacity:0.6;fill:#5735B0;}
.any-st82{opacity:0.4;fill:#704FC5;}
.any-st83{opacity:0.702;fill:#704FC5;}
.any-st84{fill:#6C29BD;}
.any-st85{opacity:0.702;fill:#845DE8;}
.any-st86{fill:#5735B0;}
.any-st87{opacity:0.8;fill:#4C26AD;}
.any-st88{opacity:0.8;fill:#6C29BD;}
.any-st89{fill:#4C26AD;}
.any-st90{fill:#845DE8;}
.any-st91{opacity:0.702;fill:#6C29BD;}
.any-st92{opacity:0.8;fill:#5735B0;}
.any-st93{opacity:0.702;fill:#4C26AD;}
.any-st94{opacity:0.6;}
.any-st95{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.any-st96{fill:#DFE84A;}
.any-st97{display:inline;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st98{display:inline;fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st99{display:inline;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.any-st100{fill:none;stroke:#FFFFFF;stroke-width:0.9724;stroke-miterlimit:10;}
.any-st101{fill:none;stroke:#000000;stroke-width:0.9713;stroke-miterlimit:10;}
.any-st102{fill:none;stroke:#000000;stroke-width:0.9034;stroke-linecap:round;stroke-miterlimit:10;}
.any-st103{opacity:0.27;}
.any-st104{fill:url(#ANYSVGID_11_);}
.any-st105{fill:url(#ANYSVGID_12_);}
.any-st106{fill:url(#ANYSVGID_13_);}
.any-st107{fill:url(#ANYSVGID_14_);}
.any-st108{fill:url(#ANYSVGID_15_);}
.any-st109{display:inline;fill:none;stroke:#04A997;stroke-miterlimit:10;}
.any-st110{display:none;stroke:#04A997;stroke-miterlimit:10;}
.any-st111{display:none;fill:#FFFFFF;}
.any-st112{fill:#5A9ADB;}
.any-st113{fill:none;stroke:#5A9ADB;stroke-miterlimit:10;}
.any-st114{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.any-st115{opacity:0.47;}
.any-st116{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st117{clip-path:url(#ANYSVGID_17_);}
.any-st118{clip-path:url(#ANYSVGID_19_);}
.any-st119{clip-path:url(#ANYSVGID_21_);}
.any-st120{fill:none;}
.any-st121{fill:#704FC5;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.any-st122{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3,3;}
.any-st123{fill:#093632;}
.any-st124{opacity:0.35;}
.any-st125{fill:url(#ANYSVGID_22_);}
.any-st126{fill:url(#ANYSVGID_23_);}
.any-st127{fill:url(#ANYSVGID_24_);}
.any-st128{fill:url(#ANYSVGID_25_);}
.any-st129{opacity:0.4;}
.any-st130{fill:#6B6B6B;stroke:#04A997;stroke-miterlimit:10;}
.any-st131{fill:#DB5D46;}
.any-st132{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st133{opacity:0.7;}
.any-st134{fill:url(#ANYSVGID_26_);}
.any-st135{fill:url(#ANYSVGID_29_);}
.any-st136{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.any-st137{fill:url(#ANYSVGID_30_);}
.any-st138{fill:url(#ANYSVGID_31_);}
.any-st139{opacity:0.36;fill:url(#ANYSVGID_32_);}
.any-st140{opacity:0.36;}
.any-st141{fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.any-st142{opacity:0.5;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.any-st143{opacity:0.2;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.any-st144{fill:none;stroke:#06EDD4;stroke-miterlimit:10;}
.any-st145{opacity:0.2;fill:none;stroke:#FF9500;stroke-miterlimit:10;}
.any-st146{opacity:0.5;fill:#DBD446;}
.any-st147{fill:#DBD446;}
.any-st148{opacity:0.8;fill:#DBD446;}
.any-st149{opacity:0.3;fill:#DBD446;}
.any-st150{fill:none;stroke:#05E3CB;stroke-miterlimit:10;}
.any-st151{opacity:0.8;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st152{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st153{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.any-st154{fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.any-st155{opacity:0.3;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.any-st156{opacity:0.5;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.any-st157{fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.any-st158{opacity:0.3;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.any-st159{opacity:0.5;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.any-st160{fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.any-st161{opacity:0.3;fill:none;stroke:#FF5B3E;stroke-miterlimit:10;}
.any-st162{opacity:0.3;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.any-st163{opacity:0.5;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.any-st164{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st165{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.any-st166{opacity:0.5;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.any-st167{opacity:0.2;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.any-st168{opacity:0.1;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.any-st169{opacity:0.3;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.any-st170{fill:none;stroke:#B8A12A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.any-st171{fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.any-st172{opacity:0.5;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.any-st173{opacity:0.2;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.any-st174{opacity:0.1;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.any-st175{opacity:0.3;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.any-st176{opacity:0.23;}
.any-st177{display:none;fill:url(#ANYSVGID_33_);}
.any-st178{fill:url(#ANYSVGID_36_);}
.any-st179{display:none;opacity:0.1;}
.any-st180{display:inline;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.any-st181{fill:url(#ANYSVGID_37_);}
.any-st182{fill:url(#ANYSVGID_38_);}
.any-st183{display:none;opacity:0.36;fill:url(#ANYSVGID_39_);}
.any-st184{display:none;opacity:0.36;}
.any-st185{display:none;opacity:0.2;}
.any-st186{display:inline;fill:#FFFFFF;}
.any-st187{opacity:0;fill:#07D5C2;}
.any-st188{fill:url(#ANYSVGID_42_);}
.any-st189{fill:url(#ANYSVGID_43_);}
.any-st190{fill:url(#ANYSVGID_44_);}
.any-st191{fill:url(#ANYSVGID_45_);}
.any-st192{fill:url(#ANYSVGID_46_);}
.any-st193{fill:url(#ANYSVGID_47_);}
.any-st194{fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st195{opacity:0.9;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st196{opacity:0.8;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st197{opacity:0.6;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st198{opacity:0.4;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st199{opacity:0.2;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.any-st200{fill:none;stroke:#FFFFFF;}
.any-st201{fill:#676767;}
